<div>
    <h5>Enter username Above to search for repos</h5>
</div>



<div class="repos">
    <p>
        <a routerLink="/profile"><button class="btn-primary" > Back to profiles </button></a>
    </p>

    <div class='card repo' appHover *ngFor='let repo of repos'>
        <h4>{{repo.name}}</h4>
        <p *ngIf='repo.description'> <strong>Description:</strong> {{repo.description}}</p>
        <div class=" repoinspect">
            <a href="{{repo.html_url}}" target="_blank"><button class="btn-success" >Inspect Repo</button></a>
        </div>
    </div>
</div>