.searchbutton {
    width: 60%;
    height: 10vh;
    margin: 5%;
    margin-left: 20%;
    font-size: 48px;
    padding: 2%;
}

.profile {
    margin: 2%;
    align-items: center;
    position: relative;
    bottom: 10vh;
}

.profilephoto {
    border-radius: 100%;
    margin-left: 10%;
}

.profiledetails {
    padding: 3%;
    width: 10hh;
    font-family: 'Courier New', Courier, monospace;
}

button {
    border-radius: 5px;
}

.following {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

.following li {
    margin: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}