<h4 *ngIf='!profiles.login'>Enter username above to search profile</h4>

<div class="row" *ngIf='profiles.login'>
    <div class="col-md-6">
        <img class="profilephoto" src="{{profiles.avatar_url}}" alt="profile photo">



    </div>

    <div class="card col-md-5 profiledetails">

        <ul class="following">
            <li><button class="btn-primary"> {{profiles.followers}} Followers </button></li>
            <li><button class="btn-info">Following {{profiles.following}}</button></li>
            <li><button class="btn-success">{{profiles.public_repos}} Public Repos</button></li>
        </ul>

        <p *ngIf='profiles.name'> <strong> Full-name: </strong> {{profiles.name}}</p>
        <p *ngIf='profiles.login'> <strong> User-name: </strong> {{profiles.login}}</p>
        <p *ngIf='profiles.email'> <strong>Email Address: </strong> {{profiles.email}}</p>
        <p *ngIf='profiles.bio'><strong>User Bio: </strong> {{profiles.bio}}</p>
        <p *ngIf='profiles.location'><strong>User location: </strong> {{profiles.location}}</p>
        <p *ngIf='profiles.company'><strong>Works at:</strong> {{profiles.company}}</p>
        <p *ngIf='profiles.blog'>
            <a href="{{profiles.blog}}" target="_blank"> <button class="btn-info"> Blogs </button></a>
        </p>
        <p><strong>Active github user since: </strong> {{profiles.created_at|dateslice}}</p>
        <p><strong>{{profiles.login}} </strong> has <em>{{profiles.created_at|hourcount}} hours </em> of github experience</p>
        <p><strong>Status: </strong> <em *ngIf='profiles.hireable'>Available for hire</em><em *ngIf='!profiles.hireable'>Currently not available for hire</em></p>

        <p>
            <a routerLink="/repos"> <button class="btn-success"> Click to view repos </button></a>
        </p>




    </div>
</div>